@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('cover2.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
    
}
.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;
}
.container h1, p{
    text-align: center;
}
p{
    font-size: 17px;
}
.field{
    color: black;
    font-family: 'Outfit', sans-serif;
}
input[class=box], textarea, select{
    background-color: rgba(107, 82, 82, 0.342);
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 16px;
    margin: 11px 0px;
    padding: 7px;
}
.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.submitMsg{
    font-size: 20px;
    color: rgb(7, 150, 7);
    font-family: 'Outfit', sans-serif;
}

